<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of class</title>
</head>
<body>
    <a href="/classes"><button type="button" class="btn btn-outline-info">Back</button></a>
    
    <h1>{{ classes.name }}</h1>
  

    <h2><a href = "/classes/edit/{{classes.id}}">Редагувати</h2></a>
    <h2><a href="/classes/delete/{{classes.id}}">Видалити</h2></a>

    <p>ID: {{ classes.id }}</p>
    <p>NAME: {{ classes.name }}</p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>
</body>
</html>